<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
     body{
    background-color: lightblue;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.3em;
  }
  .plan{
    border: 1.3px solid gray;
    border-radius: 15px;
    margin-top: 20px;
  }

  .name{
    border-bottom: solid gray 1.3px;
    background-color: gainsboro;
    border-radius: 15px 15px 0px 0px;
  }

  .name2,.time2{
    margin-left: 15px; 
  }

  .text{
    background-color: white;
  }

  .text2{
    margin-left: 15px;
    font-size: 1.1em;
  }

  .time{
    border-top: solid gray 1.3px;
    background-color: gainsboro;
    border-radius: 0px 0px 15px 15px;
  }

  form{
    font-size: 1.3em;
  }

  .name3{
    width: 300px;
    font-size: 1em;
  }

  .text3{
    width: 300px;
    font-size: 0.8em;
  }

  button {
      border-radius: 5px;
      background-color: pink;
      float: right;
      font-size: 0.6em;
    }
  </style>
  <title>コメント</title>
  </head>
  <body>
    <div class="plan">
      <div class="name"><b class="name2"><%- plan.user %></b></div>
      <div class="text">
        <div class="text2"><%- plan.text %></div>
      </div>
      <div class="time"><span class="time2"><%= plan.date %></span>
      </div>
    </div>
    <form action="/plan/comment" method="post">
      投稿者:<br><input type="text" class="name3" name="user" autocomplete="off">
      コメント:<br><textarea name="text" class="text3" cols="3"></textarea>
      <input type="hidden" name="id" value="<%= id %>">
    <button type="submit">コメントする</button>
    </form>
  
  </body>
  
  </html>