<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NUMBATTLE</title>
  <style>
    body {
      background-color: lightblue;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      width: 350px;
      font-size: 3em;
      font-family: 'MS Serif', 'arial black', sans-serif;
      text-align: center;
      margin-right: auto;
      margin-left: auto;
    }

    .li {
      width: 500px;
      font-size: 1.4em;
      margin-right: auto;
      margin-left: auto;
    }

    input {
      width: 230px;
      height: 30px;
      font-size: 1.4em;
      text-align: center;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    .start {
      margin-right: auto;
      margin-left: auto;
      background-color: #fc6e51;
      color: white;
      width: 350px;
      font-size: 1.2em;
      font-family: 'arial black', sans-serif;
      font-weight: 600;
      display: block;
      text-decoration: none;
      transition: 0.4s;
      box-shadow: 5px 6px 9px black;
      padding: 1px;
      height: 33px;
    }

    .start:hover {
      background-color: rgb(255, 208, 0);
      color: black;
      box-shadow: none;
      font-size: 1.2em;
    }

    .b {
      font-size: 1.8em;
    }

    .wait {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .info {
      color: blue;
      font-size: 1.2em;
      margin-right: 50%;
    }

    .latest {
      width: auto;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      border: red 2.5px solid;
    }

    .table {
      margin-left: auto;
      margin-right: auto;
      background-color: gray;
      font-family: 'arial black', 'Franklin Gothic Medium', sans-serif;
    }

    th {
      width: 65px;
      height: 65px;
    }

    .tr0 {
      color: red;
      background-color: rgb(253, 193, 193);
      font-size: 2.7em;
    }

    .tr1 {
      background-color: white;
      font-size: 2.6em;
    }

    .tr2 {
      color: blue;
      background-color: rgb(193, 193, 253);
      font-size: 2.7em;
    }

    .Rname {
      height: auto;
      background-color: rgb(253, 193, 193);
      font-size: 1.7em;
      font-family: sans-serif;
    }

    .Bname {
      height: auto;
      background-color: rgb(193, 193, 253);
      font-size: 1.7em;
      font-family: sans-serif;
    }

    .panel {
      margin-left: auto;
      margin-right: auto;
      margin-top: 7%;
    }

    .Ruse {
      background-color: black;
      color: red;
      font-family: 'arial black', 'Franklin Gothic Medium', sans-serif;
    }

    .Buse {
      background-color: black;
      color: blue;
      font-family: 'arial black', 'Franklin Gothic Medium', sans-serif;
    }

    .use {
      width: 80px;
      height: 80px;
      font-size: 50px;
      background-color: blanchedalmond;
    }

    .used {
      width: 80px;
      height: 80px;
      font-size: 50px;
      background-color: gray;
      color: black;
    }

    .form {
      width: 200px;
      margin-left: auto;
      margin-right: auto;
    }

    .button {
      width: 200px;
      height: 60px;
      font-size: 2em;
      font-family: sans-serif;
      margin-left: auto;
      margin-right: auto;
      background-color: lightgreen;
      color: #00B7FF;
      border-radius: 50%;
    }

    .chat {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-weight: 600;
    }

    .Rchat {
      border-bottom: black 1px solid;
      background-color: rgb(253, 193, 193);
    }

    .Bchat {
      border-top: black 1px solid;
      background-color: rgb(193, 193, 253);
    }

    a{
      margin-top: 10px;
      color: #00B7FF;
      float: right;
      font-size: 1.4em;
    }

    .img{
      width: 275px;
      height: 275px;
      margin-left: auto;
      margin-right: auto;
    }

    img{
      width: 100%;
      height: 100%;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
</head>

<body>
  <div id="style"><style>body{width:500px;}</style></div>
  <div id="area">
    <h1>NUMBATTLE</h1>
    <div class="li">
      <li>1つずつ数字を選ぶ</li>
      <li>大きい数字を出したほうが勝利</li>
      <li>9ターンあり、1~9までの数字を1回ずつ使う</li>
      <li>勝利数が多いほうが勝ち!!</li>
    </div>
    <p><input type="text" id="name" placeholder="ユーザーネーム" value="<%= name %>" maxlength="10" autocomplete="off"></p>
    <div class="wait"><button id="start" class="start">start</button>
      <div class="latest">
        <div class="info">最新の状況</div>
        <b id="wait" class="b"></b>
      </div>
    </div>
    <% if(plan) { %>
      <a href="/plan">予定があります&gt;&gt;</a>
    <% } else { %>
      <a href="/plan">予定&gt;&gt;</a>
    <% } %>
  </div>
  <div id="panel" class="panel" style="display:none">
    <table class="Ruse">
      <tr>
        <th id="use" class="use">1</th>
        <th id="use" class="use">2</th>
        <th id="use" class="use">3</th>
      </tr>
      <tr>
        <th id="use" class="use">4</th>
        <th id="use" class="use">5</th>
        <th id="use" class="use">6</th>
      </tr>
      <tr>
        <th id="use" class="use">7</th>
        <th id="use" class="use">8</th>
        <th id="use" class="use">9</th>
      </tr>
    </table>
    <div id="pcfalse"></div>
    <table class="Buse">
      <tr>
        <th id="use" class="use">1</th>
        <th id="use" class="use">2</th>
        <th id="use" class="use">3</th>
      </tr>
      <tr>
        <th id="use" class="use">4</th>
        <th id="use" class="use">5</th>
        <th id="use" class="use">6</th>
      </tr>
      <tr>
        <th id="use" class="use">7</th>
        <th id="use" class="use">8</th>
        <th id="use" class="use">9</th>
      </tr>
    </table>
  </div>
  <div id="pctrue"></div>
  <div id="msg" style="display:none">
    <button class="msg1" onclick="msg(1)"><b>やった～</b></button>
    <button class="msg2" onclick="msg(2)"><b>やられたー</b></button>
    <button class="msg3" onclick="msg(3)"><b>わっはっは</b></button>
    <button class="msg4" onclick="msg(4)"><b>なんだとっっ</b></button>
    <button class="msg5" onclick="msg(5)"><b>よろしく！</b></button>
    <button class="msg6" onclick="msg(6)"><b>ありがとう！</b></button>
  </div>
  <p class="img" id="img"><img src="../favicon.ico" alt=""></p>

  <script>
    var socket = io();
    var my_id, opponent_id, name, opponent_name, number, opponent_number;
    var ok = false;
    var ready = false;
    var turn = 0;
    var my_win = 0;
    var opponent_win = 0;
    var pc = !navigator.userAgent.match(/(iPhone|iPad|iPod|Android)/);

    function d(e) {
      return document.getElementById(e);
    }

    socket.on('wait', (socket_id) => {
      my_id = socket_id;
    });

    socket.on('info', (wait_name) => {
      if (wait_name) {
        d('wait').innerText = `${wait_name} が待っています`;
      } else {
        d('wait').innerText = '待っている人はいません';
      }
    });

    socket.on('wait_name', (wait_name) => {
      if (d('wait')) d('wait').innerText = `${wait_name} が待っています`;
    });

    socket.on('wait_end', () => {
      if (d('wait')) d('wait').innerText = '待っている人はいません';
    });

    d('start').onclick = () => {
      if (!ready) {
        name = d('name').value ? d('name').value : '匿名';
        socket.emit('ready', name);
        d('start').innerText = "cancel";
        ready = true;
      } else {
        socket.emit('cancel');
        d('start').innerText = "start";
        ready = false;
      }
    }

    socket.on('start', (opponent) => {
      style();
      opponent_id = opponent[0];
      opponent_name = opponent[1];
      d('panel').style = "";
      d('msg').style = "";
      d('img').remove();
      d('pc' + pc).innerHTML = `<div class="chat">
      <div id="Rchat" class="Rchat">START!</div>
      <div id="Bchat" class="Bchat">SATRT!</div>
      </div>`;
      var table = `<table class="table"><tr><th id="Rname" class="Rname" colspan="9"></th></tr>`;
      for (let i = 0; i < 3; i++) {
        table += '<tr>';
        for (let j = 0; j < 9; j++) {
          table += `<th id="th${i}${j}" class="tr${i}"></th>`;
        }
        table += '</tr>';
      }
      table += `<tr><th id="Bname" class="Bname" colspan="9"></th></tr></table>`;
      d('area').innerHTML = table;
      for (let i = 0; i < name.length; i++) {
        d('Rname').innerText += name[i];
      }
      for (let i = 0; i < opponent_name.length; i++) {
        d('Bname').innerText += opponent_name[i];
      }
      for (let i = 29; i < 38; i++) {
        document.getElementsByTagName('th')[i].onclick = () => { click(i - 28) };
      }
      ok = true;
    });

    function click(e) {
      if (ok) {
        socket.emit('number', [opponent_id, e]);
        number = e;
        document.getElementsByTagName('th')[e + 28].style = "background-color:rgb(253,193,193)";
        document.getElementsByTagName('th')[e + 28].onclick = () => { };
        ok = false;
        check();
      }
    }

    socket.on('number', (num) => {
      opponent_number = num;
      check();
    });

    function check() {
      if (number && opponent_number) {
        document.getElementsByTagName('th')[number + 28].className = "used";
        document.getElementsByTagName('th')[number + 28].style = "";
        document.getElementsByTagName('th')[opponent_number + 37].className = "used";
        document.getElementsByTagName('th')[opponent_number + 37].style = "";
        d(`th0${turn}`).innerText = number;
        d(`th2${turn}`).innerText = opponent_number;
        if (number > opponent_number) {
          var win = ['red', '●'];
          my_win++;
        } else if (number < opponent_number) {
          var win = ['blue', '●'];
          opponent_win++;
        } else {
          var win = ['black', '△'];
        }
        d(`th1${turn}`).innerHTML = `<span style="color:${win[0]}">${win[1]}</span>`;
        if (turn === 8) {
          setTimeout(() => {
            if (my_win > opponent_win) {
              alert('あなたの勝ち');
            } else if (my_win < opponent_win) {
              alert('あなたの負け');
            } else {
              alert('引き分け');
            }
            d('msg').innerHTML +=
              `<div class="form">
              <form action="/" method="POST">
              <input type="hidden" name="name" value="${name}">
              <button class="button" type="submit">もう一度</button>
              </form>
              </div>`;
          }, 200)
        } else {
          number = null;
          opponent_number = null;
          turn++;
          ok = true;
        }
      }
    }

    function style() {
      if (pc) {
        d('style').innerHTML = `<style>
        body{
          1300px;
        }
        .table{
          margin-top: 5%;
        }
        .panel{
          width: 1300px;
        }
        .Ruse{
         float: left;
        }
        .Buse{
          float: right;
        }
        .chat{
          font-size: 2em;
          width: 330px;
        }
        .Rchat,.Bchat{
          height: 40px;
        }
        .msg1,.msg2,.msg3,.msg4,.msg5,.msg6{
          width: 126px;
          border-radius: 30%;
          font-size: 17px;
          margin-top: 15%;
        }
        </style>`;
      } else {
        d('style').innerHTML = `<style>
        body{
          width: 625px;
        }
        .panel{
          width: 254px;
        }
        .chat{
          width: 254px;
          font-size: 1.4em;
        }
        .Rchat,.Bchat{
          height: 35px;
        }
        .msg1,.msg2,.msg3,.msg4,.msg5,.msg6{
          width: 140px;
          border-radius: 30%;
          font-size: 20px;
        }
        .msg1,.msg3,.msg5{
          float: left;
          margin-left: 20px;
        }
        .msg2,.msg4,.msg6{
          float: right;
          margin-right: 20px;
        }
        .msg1,.msg2{
          margin-top: -500px;
        }
        .msg3,.msg4{
          margin-top: -300px;
        }
        .msg5,.msg6{
          margin-top: -100px;
        }
      </style>`;
      }
    }

    function msg(msg) {
      if (msg === 1) {
        d('Rchat').innerText = 'やった～';
        socket.emit('msg', [opponent_id, 'やった～']);
      } else if (msg === 2) {
        d('Rchat').innerText = 'やられたー';
        socket.emit('msg', [opponent_id, 'やられたー']);
      } else if (msg === 3) {
        d('Rchat').innerText = 'わっはっは';
        socket.emit('msg', [opponent_id, 'わっはっは']);
      } else if (msg === 4) {
        d('Rchat').innerText = 'なんだとっっ';
        socket.emit('msg', [opponent_id, 'なんだとっっ']);
      } else if (msg === 5) {
        d('Rchat').innerText = 'よろしく！';
        socket.emit('msg', [opponent_id, 'よろしく！']);
      } else {
        d('Rchat').innerText = 'ありがとう！';
        socket.emit('msg', [opponent_id, 'ありがとう！']);
      }
    }

    socket.on('msg', (msg) => {
      d('Bchat').innerText = msg;
    });

  </script>
</body>

</html>